@using EPAM.AWARDS.ASPPL.Models
@{
    Layout = null;

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="stylesheet" href="~/css/main.css" />
    <title></title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
</body>
</html>
