USE [master]
GO


CREATE DATABASE [db]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'db', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\db.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'db_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\db_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO

IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [db].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO

USE [db]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AwardAndUser](
	[idAward] [int] NULL,
	[idUser] [int] NULL
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Awards](
	[id] [int] NOT NULL,
	[title] [nvarchar](50) NULL,
 CONSTRAINT [PK_Awards] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[id] [int] NULL,
	[name] [nvarchar](50) NULL,
	[dateOfBirth] [date] NULL,
	[passHash] [text] NULL,
	[roll] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[AddAwardToUser]
	@idUser int,
	@idAward int
AS
BEGIN
	SET NOCOUNT OFF;
	INSERT INTO AwardAndUser VALUES (@idAward,@idUser)
End 
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[Award_GetByID]
	@id int
AS
BEGIN
	SET NOCOUNT ON;
	
	SELECT TOP 1
		id,title
		FROM dbo.Awards
		WHERE id =@id
END

GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CreateAward]
	@id int,
	@title nvarchar(250)
AS
BEGIN
	SET NOCOUNT OFF;

    INSERT INTO dbo.Awards VALUES (@id, @title)
END
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[CreateUser]
	@id int,
	@name nvarchar(50),
	@dateOfBirth date,
	@passHash text,
	@roll int
AS
BEGIN
	SET NOCOUNT OFF;

    INSERT INTO dbo.Users VALUES (@id,@name,@dateOfBirth,@passHash,@roll)
END
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteAllAwardOfUser]
	@idUser int
AS
BEGIN
	SET NOCOUNT OFF;
	DELETE FROM dbo.AwardAndUser WHERE idUser = @idUser
End 
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteAward]
	@id int
AS
BEGIN
	SET NOCOUNT OFF;
	DELETE FROM dbo.Awards WHERE id = @id
	DELETE FROM dbo.AwardAndUser WHERE idAward = @id
End 
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[DeleteUser]
	@id int
AS
BEGIN
	SET NOCOUNT OFF;

	DELETE FROM dbo.Users WHERE id = @id
END
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[FindUserByName]
	@Name nvarchar(100)
AS
BEGIN
	SET NOCOUNT OFF;

	SELECT Name FROM dbo.Users WHERE Name = @Name
END
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAllAwardOfUser]
@idUser int
AS
BEGIN
	SET NOCOUNT ON;
	SELECT idAward FROM dbo.AwardAndUser WHERE @idUser=idUser
END


GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetAwards]

AS
BEGIN
	SET NOCOUNT ON;

	SELECT * FROM dbo.Awards
END
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetUsers]

AS
BEGIN
	SET NOCOUNT ON;

	SELECT * FROM dbo.Users
END

GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[UpdateUser] 
	@id int,
	@name nvarchar(50),
	@dateOfBirth date,
	@passHash nvarchar(50),
	@roll int
AS
BEGIN
	SET NOCOUNT OFF;

    UPDATE dbo.Users SET 
		name = @name,
		dateOfBirth  = @dateOfBirth,
		passHash=@passHash,
		roll=@roll

		WHERE id = @id
END
GO

SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE PROCEDURE [dbo].[User_GetByID]
	@id int
AS
BEGIN
	SET NOCOUNT ON;
	
	SELECT TOP 1
		id, name ,dateOfBirth,passHash,roll
		FROM dbo.Users
		WHERE Id =@id
END 
GO
USE [master]
GO
